.opacity-hover-img-portfolio:hover {
    opacity: 0.5 !important;
    transition: 0.3s;
    cursor: pointer;
    transition: .8s ease;
}

.link-portfolio {
    text-decoration: none !important;
}
.portfolio-subtitle {
    color: darkblue;
}