.progress-bar {
    background-color: darkblue !important;
}
.icon-laravel-about {
    width: 3rem;
}
.link-about {
    color: darkblue;
    text-decoration: none !important;
    text-transform: none !important;
}